body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    /* margin: 50px; */
}
.tittle{
    .para{
        font-size: 40px;
    display: flex;
    justify-content:center;
    }
    .heading{
        font-size:60px;
        display: flex;
        justify-content:left;
        color: #0866ff;
    }
}
.main{
    margin: 100px;
    margin: 100px;
    margin-left:150px ;
    background-color: rgb(234, 236, 239);
    border-radius: 10px;
    .phone{
    .mobile{
        margin-top: 40px;
        width: 364px;
        height: 50px;
        border-radius: 10px;
    }
    height: 50px;
    margin-top:200px;
    width: 364;
    display: flex;
    justify-content:center ;
    align-items: center;
    }
    .pass{
        .passward{
            margin-top: 20px;
            width: 364px;
            height: 50px;
            border-radius: 10px;
        }
        width: 364px;
        margin-top: 20px;
        border-radius:10px;
        display: flex;
    justify-content:center ;
    /* height: 400px;
    width: 400px; */
    align-items: center;
    }
    .button{
        margin-top: 10px;
        margin-left:13 px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    height: 51px;
    width: 364px;
     display: flex;
    justify-content:center ;
    /* height: 400px;
    width: 400px; */
    align-items: center;
    background-color: #0866ff;
    }
    .forget{
        margin-top: 10px;
         display: flex;
    justify-content:center ;
    /* height: 400px;
    width: 400px; */
    align-items: center;
    }
    .npass{
        .create{
            background-color: #42B72A;
            color: white;
            border-radius: 10px;
            height: 50px;
            width: 206px;
            border-color: none;
        }
        margin-top: 10px;
        display: flex;
        justify-content:center ;
        align-items: center;
    }
}
.foot{
    font-size: 20px;
    display: flex;
    justify-content: right;
    margin-right: 200px;
    align-items: center;
    margin-top: 90px;
}